.mybtn {
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: none;
	outline: none;
	cursor: pointer;
}

/*************************

navbar
*************************/
.my-navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: midnightblue;
	padding: 0.5rem 1rem;
	position: fixed;
	width: 100%;

}

.my-navbar.show-shadow {
	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#tag-menu,
.fa.fa-bars {
	display: none;
}

.logo {
	margin-right: 4rem;
}

.logo a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.5rem;
	font-weight: 500;
	font-weight: bold;
}

.logo a:hover {
	text-decoration: none;
	color: white;
}

.mynavbar-content {
	display: flex;
	padding: 0 1rem;
}

.mynavbar-list {
	display: flex;
	list-style-type: none;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}

.mynav-item {
	padding: 0.5rem 1rem;
}

.mynav-link {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
	font-size: 1.2rem;
}

.mynav-link:hover {
	text-decoration: none;
	color: white;
}

.my-navbar form.form-search {
	display: none;
}

/*************************

navbar right
*************************/
.navbar-right {
	margin-left: 30px;
}

.navbar-left {
	display: none;
}

.navbar-right .search-input {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 3px;

}

.navbar-right form {
	border-radius: 3px;
	background-color: white;

}

.btn-search i {
	color: grey;
}

.btn-search:hover {
	background-color: #eee;
}

/*************************

dropdown
*************************/
.dropdown {
	position: relative;
}

.dropdown-btn {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}

.dropdown-btn:hover>.dropdown-list {
	display: block;
}

.dropdown-list {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #fff;
	border-radius: 3px;
	width: clamp(160px, 200px, 220px);
	padding: 0.5rem 0;
	border: 1px solid #ccc;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	z-index: 1;
}

.dropdown-list.show {
	display: block;
}

.dropdown-list a {
	text-decoration: none;
	display: block;
	padding: 0.5rem 1rem;
	color: black;
	text-decoration: none;
}

.dropdown-list a:hover {
	background-color: #dededf;
	text-decoration: none;
}

.dropdown-inner {
	left: 100%;
	top: 0;
}

.dropdown .dropdown-list .dropdown:hover {
	background-color: #dededf;
}

.dropdown .dropdown-list .dropdown:hover>.dropdown-list {
	display: block;
}

@media screen and (max-width: 576px) {
	button.btn-search {
		background-color: transparent;
		border: none;
		height: 100%;
	}

	button .bi.bi-search {
		opacity: 0.7;
	}

	ul li a {
		font-size: 14px;
	}

	.my-navbar {
		display: block;
		height: 90px;
		padding: 0;
		transition: top 0.3s;
	}

	.navbar-left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px 16px 0 16px;
		margin-bottom: 4px;
	}

	.navbar-left .logo a {
		font-size: 18px;
	}


	/*form search baru by-nizar*/

	.my-navbar form.form-search {
		display: block;
		position: absolute;
		width: 85%;
		height: 40px;
		padding: 4px;
		border-radius: 6px;
		background-color: white;
		margin: 8px;
		top: -50px;
		transition: top 500ms ease-out;
	}

	#tag-menu {
		display: none;
		float: right;
	}

	.my-navbar form.form-search.show {
		top: 0;
	}

	.my-navbar form.form-search .input-search {
		width: 90%;
		height: 100%;
		font-size: 12px;
		padding: 4px;
		border: none;
		border-radius: 4px;
		background-color: transparent;
	}

	.mybtn {
		padding: 0.5rem;
		border-radius: 3px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: #fff
	}

	.navbar-right {
		display: none;
	}

	.mynavbar-content .logo {
		display: none;
	}

	.mynavbar-content {
		/*position: absolute;*/
		display: flex;
		justify-content: space-around;
		overflow-x: scroll;
		align-items: center;
		margin-top: 8px;
	}

	.mynavbar-list {
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0;
		position: relative;
		left: 80px;
	}

	.mynavbar-content .mynavbar-list .mynav-item {
		padding: 8px 12px;
	}

	.mynavbar-list .mynav-item .mynav-link {
		font-size: 16px;
		color: rgba(255, 255, 255, 0.9);
		text-decoration: none;
	}

	.dropdown {
		position: relative;
	}

	.dropdown-btn {
		display: flex !important;
		justify-content: space-between;
		align-items: center;
	}

	.dropdown-list {
		display: none;
		position: relative;
		top: 0;
		background-color: #fff;
		border-radius: 3px;
		width: clamp(160px, 200px, 220px);
		padding: 0.5rem 0;
		border: 1px solid #ccc;
		box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	}
}